@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #FAFAFA;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.container {
  max-width: 1340px;
  padding: 0 24px;
  margin: 0 auto;
}

nav {
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
nav .container .nav__wrapper {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container .nav__wrapper .nav__text h1 {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav .container .nav__wrapper button {
  display: flex;
  gap: 8px;
  background: transparent;
  border: none;
  align-items: center;
}
nav .container .nav__wrapper button p {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero {
  margin-top: 48px;
}
.hero .container .hero__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero .container .hero__wrapper input {
  height: 56px;
  border-radius: 5px;
  background: #FFF;
  padding: 18px 261px 18px 74px;
  border: none;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
.hero .container .hero__wrapper input::-moz-placeholder {
  color: #848484;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.hero .container .hero__wrapper input::placeholder {
  color: #848484;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.hero .container .hero__wrapper #hero-select {
  border-radius: 5px;
  background: #FFF;
  padding: 18px 47px 18px 24px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
.hero .container .hero__wrapper #hero-select .hero__options {
  margin-top: 4px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
.hero .container .hero__wrapper #hero-select .hero__options option {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  border: none;
  color: #111517;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cards {
  margin-top: 48px;
}
.cards .container .card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.cards .container .card__wrapper .card {
  max-width: 264px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.cards .container .card__wrapper .card img {
  width: 267px;
  height: 160px;
}
.cards .container .card__wrapper .card .card__content {
  padding: 24px;
}
.cards .container .card__wrapper .card .card__content h1 {
  max-width: 240px;
  color: #000;
}
.cards .container .card__wrapper .card .card__content .card__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cards .container .card__wrapper .card .card__content .card__info p, .cards .container .card__wrapper .card .card__content .card__info h3 {
  color: #000;
}/*# sourceMappingURL=style.css.map */